*/target/*
*/target/**
node_modules
build
*/src/main/js/resources/static/built
/.DS_Store
*/.classpath
*/.project
*/.idea
*/.settings/org.eclipse*
Spring-Rest-React/src/main/resources/static/built/bundle.js
Spring-Rest-React/src/main/resources/static/built/bundle.js.map
