*/target/*
*/target/**
node_modules
build
*/src/main/js/resources/static/built
/.DS_Store
*/.classpath
*/.project
*/.idea
*/.settings/org.eclipse*
/Spring-Rest-React/.idea/
.idea/
Spring-Rest-React/target/
/Spring-Rest-React/src/main/resources/static/built/
/.idea/
*.json
