<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>XML Tech App</title>
    <link rel="stylesheet" href="/main.css" />
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css"/>
</head>
<body>
    <div id="react"></div>
    <script src="built/bundle.js"></script>
   
    <h3>API &amp; routes</h3> 
    <ul>
         <li><a href="/api/paintings">GET: /api/paintings</a></li>
         <li><a href="/api/profile">GET: /api/profile</a></li>
         <li><a href="/api/profile/paintings">GET: /api/profile/paintings</a></li>
         <li><a href="/test"> Test page</a></li>
         <li><a href="/sparql"> Test sparql</a></li>
	 <li><a href="/react"> React Test Page (view1)</a></li>
    </ul>

    

</body>
</html>
