<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>XML Tech App</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

	<header>
    	<h2>XML Tech App</h2>
    </header>
    
    <h3>Datensatz: Gemälde - Nationalmuseum Schweden</h3>
    
    <nav>
      <ul>
          <li><a href="/painting"> Sample Painting</a></li>
      </ul>
    </nav>

    <div id="react"></div>

    <script src="built/bundle.js"></script>

</body>
</html>