<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>XML Tech App</title>
    <link rel="stylesheet" href="/main.css" />
    <script type="text/javascript" src="xslt-script.js"></script>
</head>
<body>

	<header>
    	<h2>XML Tech App</h2>
    </header>
    
    <h3>Sample painting</h3>
    
    <p>The click on the following button should result in showing an XSLT transformation, that used to work on the older version of the site, but does not anymore</p>
    
    <button type="button" onclick="test()">Show painting sample</button>
    
    <div id="example"></div>  
</body>
</html>