<!DOCTYPE html>
<html>
<head>
    <title>React</title>
</head>
<body>

    <header>
    	<h2>XML Tech App</h2>
    </header>

	
	<div id='left-box' class='left-box'>
		<div id='country' class ='country'>
			<span style="color:whitesmoke">COUNTRY</span>
			<div id='selectCountry'></div>
		</div>
		<div id='category' class='category'>
			<span style="color:whitesmoke">CATEGORY</span>
			<div id='selectCategory'></div>
		</div>
		<div id='artist' class='artist'>
			<span style="color:whitesmoke">ARTIST</span>
			<div id='selectArtist'></div>
		</div>
		<div id='test' class='test'>
			<span style="color:whitesmoke">
			TEST : painting by <br/>
			</span>
			<div id='selectTest'></div>
		</div>
	</div>
	
 	<div id='root' class='right-box'></div>

<!-- <div class='container'>
        <div id='root'></div>
    </div>
 --> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.min.js"></script>
    <script src="https://fb.me/react-dom-15.0.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

   <!-- <link rel="stylesheet" href="/rtest.css" /> -->  

    <script type="text/babel" src="/reactjs.js"></script>
    <script type="text/babel" src="/filterjs.js"></script>
    
    <style>
    	.left-box {
		float: left;
  		width: 20%;
	}
		.right-box {
 		float: right;
  		width: 80%;
	}
		.country {
		background-color: #E55126;
	}
		.category {
		background-color: #E5A227;
	}
		.artist {
		background-color: #0C73B8;
	}
		.test {
		background-color: #54BD54;
	}
		.country, .category, .artist, .test{
 		 width: 80%;
 		 padding: 1em 3em 2em 2em;
		 margin: 0.5em;
	     color: black;
	}
		
	</style>
    

</body>
</html>
