<!DOCTYPE html>
<html>
<head lang="en">
 <script src='/src/main/js/sparql.js'></script>
    <meta charset="UTF-8"/>
    <title>XML Tech App</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

	<header>
    	<h2>XML Tech App</h2>
    </header>
    
    <h3>Sparql Test with Node.js</h3>
    
    <p>The click on the following button should result in showing an XSLT transformation, that used to work on the older version of the site, but does not anymore</p>
    
    <button type="button" onclick="sparql()">Query DBpedia</button>
	<script type="text/javascript">
	
	</script>
    <div id="example"></div>  
</body>
</html>