.nav {
    display: block;
    overflow: hidden;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
}

    nav ul li {
        display: inline-block;
        list-style-type: none;

        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }

        nav > ul > li > a {
            color: #5a94aa;
            display: block;
            line-height: 48px;
            padding: 0 16px;
            text-decoration: none;
        }