.BCrumbs {
  color: #333;
  border: 1px solid #ccc;
  padding: 16px;
}

.BCrumbs ol, .BCrumbs ul {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

.BCrumbs li {
    display: inline;
    color: #ccc;
}

.BCrumbs a {
    color: #5a94aa;
    text-decoration: none
}
.BCrumbs a:hover {
    color: #666;
    text-decoration: underline
}

.BCrumbs li.last a {
    color: #666;
}