body {
}
table {

    border-collapse: collapse; 
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 36px;
    margin-left: 10px;
    padding-right: 36px;
    margin-right: 10px;

}
tbody {
	margin: 5px;
}
h2, h3 {
	margin: 5px;
}
td, th {
    border: 1px solid #999;
    padding: 5px;
    text-align: left;
}

th {
	background-color: #ffc107;
}
.painting2View{
    border-radius: 8px;
    width: 400px;
    height:300px;
    position: fixed;
    left:100px;
    top:150px;
}
.infoFROMxml{
  margin-top:470px;
  position: fixed;
  width: 400px;
  height: 300px;
  text-align: left;
  color: #000000;
 }
 .infoFROMdbpedia{
   margin-bottom:100px;
   position: fixed;
   width: 200px;
   height: 3500px;
   text-align: right;
   color: #000000;
  }
  .backButton{
    width: 119px;
    height: 43px;
    background-color:  #47d147;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
  }
.left-box {
    float: left;
    width: 20%;
}
.right-box {
    float: right;
    width: 80%;
}
.country {
    background-color: #E55126;
}
.category {
    background-color: #E5A227;
}
.artist {
    background-color: #0C73B8;
}
.test {
    background-color: #54BD54;
}
.country, .category, .artist, .test{
    width: 80%;
    padding: 1em 3em 2em 2em;
    margin: 0.5em;
    color: black;
}

.text-link {
	padding: 5px;
}

.api-link {
	padding-left: 40px;
}

.show-false {
		display: none;
}
.padded-container {
	padding-left: 20px;
	padding-right: 20px;
}
.modal-dialog {
	align: center;
}
.painting-info-entry {
	padding-top: 10px;	
}

div.painting-modal-infos-container {
	padding-left: 0;
	margin-right: 30px;
}
