body {
}
table {
    border-collapse: collapse;
    margin: 4rem;

}
tbody {
	margin: 5rem;
}
h2, h3 {
	margin: 5rem;
}
td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

th {
	background-color: #ffc107;
}
.painting2View{
    border-radius: 8px;
    width: 400px;
    height:300px;
    position: fixed;
    left:100px;
    top:150px;
}
.infoFROMxml{
  margin-top:470px;
  position: fixed;
  width: 400px;
  height: 300px;
  text-align: left;
  color: #000000;
 }
 .infoFROMdbpedia{
   margin-bottom:100px;
   position: fixed;
   width: 200px;
   height: 3500px;
   text-align: right;
   color: #000000;
  }
  .backButton{
    width: 119px;
    height: 43px;
    background-color:  #47d147;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
  }
.left-box {
    float: left;
    width: 20%;
}
.right-box {
    float: right;
    width: 80%;
}
.country {
    background-color: #E55126;
}
.category {
    background-color: #E5A227;
}
.artist {
    background-color: #0C73B8;
}
.test {
    background-color: #54BD54;
}
.country, .category, .artist, .test{
    width: 80%;
    padding: 1em 3em 2em 2em;
    margin: 0.5em;
    color: black;
}